{% extends 'base.html.twig' %}

{% block title %}Recette Claire - Accueil{% endblock %}
    
{% block body %}
    <div class="jumbotron container mt-4">
            <h1 class="display-4">Bienvenue sur Recette Claire !</h1>
            <p class="lead">Recette est une application en ligne de recette. Créer tes recettes à base d'ingrédient et partage les à la communauté, ou garde les en privée.</p>
            <hr class="my-4">
            <p>Pour commencer, vous devez vous inscrire.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
{% endblock %}

